.button {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 100px;
    font-weight: 800;
    text-transform: uppercase;

    &--white {
        color: $color-2;
        background-color: $color-white;
    }

    &--dark {
        color: $color-white !important;
        background-color: $color-1;
    }
}

.link {
    color: $color-white;
    background-color: $color-1;
    padding: 4px 8px;
    border-radius: 4px;
}