.input {
    position: relative;
    display: block;
    width: 100%;
    border-style: none;
    border-bottom: 1px solid $color-gray--1;
    padding: 5px 1rem;
    margin-bottom: 1rem;

    &:active,
    &:focus {
        outline: none;
        border-bottom: 2px solid $color-2;
    }

    &:required {
        &::before {
            
        }
    }
}

.submit {
    margin-top: 2rem;

    &,
    &:active,
    &:focus {
        border: none;
        outline: none;
    }
}