.package {
    position: relative;
    border: 5px solid $color-1;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    min-height: 15rem;
    color: $color-1;
    background:
        linear-gradient(
            to bottom right,
            rgba($color-white, 1),
            rgba($color-2, .2)
        );

    &__check {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 5rem;
        color: $color-3;
    }

    &__title {
        font-weight: 800;
        font-size: 2rem;
        text-transform: uppercase;
    }

    &__price {
        font-size: 8rem;
        font-weight: 800;
        font-family: $font-hind;
        line-height: 1.2;
        text-shadow: 1px 1px $color-2;
        // color: $color-white;
    }
    
    .dollar {
        font-size: 4rem;
    }
}