.tenet {
    width: 100%;
    position: relative;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 5px;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
        min-height: 50rem;
    }

    &:not(:last-child) {
        margin-bottom: 4rem;
    }

    &__content {
        width: 90%;
        z-index: 1;
        text-align: center;
        color: $color-white;
        font-size: 2.5rem;
        @include center;
    }

    &__icon {
        display: inline-block;
        font-size: 7rem;
        line-height: 1.1;
        margin-bottom: 3rem;
        background: linear-gradient(
            10deg,
            rgba($color-white, 1),
            rgba($color-2, 1) 90%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: initial;
    }

    &__blurb {
        text-shadow: 0 1px 2px $color-black;
    }

    &--creativity {
        background-image: url(img/sky.jpg);
    }

    &--elegance {
        background-image: url(img/galaxy.jpg);
    }

    &--performance {
        background-image: url(img/shifter.jpg);
    }

    &--personality {
        background-image: url(img/eye2.jpg);
    }

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background:
            linear-gradient(
                to bottom right,
                rgba($color-black, .2),
                rgba($color-1, 1)
            );
    }
}
