.main {
    padding: 0 3rem;
}

.navbar {
    &-brand {
        font-size: inherit;
    }
    &-toggler--c {
        color: $color-white !important;
        font-size: 2rem;
    }
}

.contact {
    &__info {
        margin: 1rem 0;
    }

    &__form {
        text-align: center;
    }
}
