.header {
    height: calc(100vh);
    text-align: center;
    padding: 20rem 2rem;
    background-image: url(img/galaxy.jpg);
    background-size: cover;

    &__heading {
        @include center;
        z-index: 1;
    }
    
    &::after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color-1, .6);
    }

    .button {
        position: relative;
        z-index: 1;
    }

    .heading {
        display: block;
        margin: 2rem 0;
        position: relative;
        color: $color-1;
        text-align: center;

        &--primary {
            margin-bottom: 5rem;
            color: $color-white;

            &__main {
                display: block;
                margin-bottom: 2rem;
            }

            &__sub {
                display: block;
            }
        }
    }
}