$color-white: #fff;
$color-gray: #555;
$color-gray--0: #ddd;
$color-gray--1: #999;
$color-gray--2: #555;
$color-gray--3: #222;
$color-black: #000;

$color-1: #5D4A66;
$color-2: #86769B;
$color-3: #70B77E;

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Quicksand');
$font-quicksand: 'Quicksand', sans-serif;
$font-hind: 'Hind Madurai', sans-serif;