*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    font-size: 1.6rem;
}

a {
    &,
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

section {
    @include media-breakpoint-down(sm) {
        min-height: 0;
    }
    
    padding-top: 10rem;

    &:last-child {
        padding-bottom: 10rem;
    }
}
