body {
    font-size: 1.6rem;
    font-family: $font-quicksand;
}

.heading {
    font-family: $font-hind;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-1;
    font-weight: 800;

    &--primary {
        font-size: 4rem;
        letter-spacing: 2px;

        &__sub {
            font-size: 2rem;
            letter-spacing: 1px;
            font-weight: 400;
        }
    }

    &--secondary {
        font-size: 3rem;
    }
}

.highlight {
    display: inline-block;
    font-size: 2rem;
    font-weight: 800;
    color: $color-2;
    // text-transform: uppercase;
    transform: rotateZ(-1deg);
}